<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="{% url 'reqq' %}" method="POST">
    {% csrf_token %}
    <label for="">firstname</label>
    <input type="text" name="firstname"><br><br>
    <label for="">lastname</label>
    <input type="text" name="lastname"><br><br>
    <label for="">age</label>
    <input type="text" name="age"><br><br>
    <label for="">email</label>
    <input type="text" name="email" id=""><br><br>
    <label for="">PH NO:</label>
    <input type="int" name="PH NO:" id=""><br><br>
    <button type="submit">submit</button>
   </form>
   <a href="{% url 'vieww' %}">back</a>
</body>
</html>