<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'reg' %}" method="POST">
    {% csrf_token %}
    <label for="">first name</label>
    <input type="text" name="firstname" id=""><br><br>
    <label for="">last name</label>
    <input type="text" name="lastname"><br><br>
    <label for="">user name</label>
    <input type="text" name="username" id=""><br><br>
    <label for="">password</label>
    <input type="text" name="password" id=""><br><br>
    <label for="">Email</label>
    <input type="text" name="email" id=""><br><br>
    <label for="">Age</label>
    <input type="text" name="age" id=""><br><br>
    <label for="">Phno</label>
    <input type="text" name="phno" id=""><br><br>
    <button type="submit">Register</button>
    </form>
</body>
</html>